.page.object-single.container
    display: grid
    grid-template-columns: repeat(2,1fr)
    grid-template-rows: repeat(2,1fr)

    .store
        font-size: 40px

    .form
        grid-row: 1/3
        grid-column: 1/2

    .formdata
        grid-row: 1/3
        grid-column: 2/3
