.page.schema-single.container
    $padding: 10px

    height: 100%
    width: 100%
    display: grid
    grid-template-columns: repeat(2,1fr)
    grid-template-rows: repeat(2,1fr)
    padding: $padding
    gap: 5px

    .card
        box-shadow: 0px 0px 50px -25px rgba(44, 54, 80, 0.596)

    .store
        position: absolute
        right: $padding
        top: $padding
        height: 44px
        display: flex
        justify-content: center
        align-items: center
        padding-right: 5px
        cursor: pointer

        .anticon
            font-size: 44px

    .editor
        grid-row: 1/2
        grid-column: 1/2

    .preview-form
        grid-row: 1/3
        grid-column: 2/3

    .preview-formdata
        grid-row: 2/3
        grid-column: 1/2
